

<main role="main" class="container">
  <div class="card border-secondary mb-3">
  <div class="card-header">Question {{quizQuestions[i].questionNo}}/10</div>
  <div class="card-body text-secondary">
  <img class="card-img-top" src="{{quizQuestions[i].questionImg}}" height="450px" width="450px" alt="Card image cap">

    <h4 class="card-title">{{quizQuestions[i].questionS}}</h4>

    <div class="form-group ">
    <input name="group100" type="radio" id="radio100" checked>
    <label for="radio100">{{quizQuestions[i].option1}} </label>
</div>

<div class="form-group">
    <input name="group100" type="radio" id="radio101">
    <label for="radio101">{{quizQuestions[i].option2}}</label>
</div>

<div class="form-group">
    <input name="group100" type="radio" id="radio102">
    <label for="radio102">{{quizQuestions[i].option3}} </label>
</div>

<div class="form-group">
    <input name="group100" type="radio" id="radio103">
    <label for="radio103">{{quizQuestions[i].option4}}</label>
</div>

  </div>


  <div class="card-footer bg-transparent border-secondary">
    <div class="text-center">
      <button type="button"  (click)="previousQuestion()" class="btn btn-primary btn-large">Previous</button>
  <button type="button"  (click)="nextQuestion()" class="btn btn-danger btn-large">Next</button>
  </div>

  </div>
</div>

</main>
