

<main role="main" class="container">
  <div class="card border-secondary mb-3">
  <div class="card-header">Question 1/10</div>
  <div class="card-body text-secondary">
  <img class="card-img-top" src="../../assets/images/cuteappa.png" height="450px" width="450px" alt="Card image cap">

    <h4 class="card-title">Your friend is throwing a party at his house.You arrive: </h4>

    <div class="form-group ">
    <input name="group100" type="radio" id="radio100" checked>
    <label for="radio100">A full hour early. I'm helping him set up. </label>
</div>

<div class="form-group">
    <input name="group100" type="radio" id="radio101">
    <label for="radio101">15 minutes early. I'm punctual. </label>
</div>

<div class="form-group">
    <input name="group100" type="radio" id="radio102">
    <label for="radio102">15 minutes late. Who gets to a party on time anyways? </label>
</div>

<div class="form-group">
    <input name="group100" type="radio" id="radio103">
    <label for="radio103">An hour late. I like making an entrance.</label>
</div>

  </div>


  <div class="card-footer bg-transparent border-secondary">
    <div class="text-center">
  <button type="button" routerLinkActive="active" routerLink="/quizStart" class="btn btn-danger btn-large">Next</button>
  </div>

  </div>
</div>

</main>
